/* HEADER SECTION */
* {
  margin: 0;
  padding: 0;
}

.headerStyle {
  background-color: rgba(51, 51, 160, 0.671);
  width: 100%;
  height: 60px;
  position: relative;
}

.headerStyle h1 {
  text-align: center;
  color: aqua;
  transition: ease-in 2s;
  margin: 0;
}

.headerStyle h1:hover {
  color: darkblue;
  font-size: 35px;
  transition: ease-in 2s;
}


.searchDiv {
  width: 100%;
  height: 50px;
  margin: auto;
  margin-top: 20px;
  display: grid;
}

.searchDiv input {
  text-align: center;
  margin: auto;
  border-radius: 5em;
  padding: 5px;
  background-color: lightblue;
  box-shadow: 5px 5px black;
}

.searchDiv input:hover {
  cursor: pointer;
}

.searchDiv button {
  text-align: center;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 1em;
}

.gridContainer {
  display: grid;
  margin-top: 100px;
  grid-template-columns: 1fr 3fr 1fr 3fr 1fr;
  grid-template-rows: auto;
}

.searchResults {
  grid-column-start: 2;
  grid-column-end: 3;
  height: 500px;
  background-color: rgba(53, 53, 151, 0.582);
  border-radius: 2em;
  overflow: scroll;
}

.savedPlaylists {
  grid-column-start: 4;
  grid-column-end: 5;
  height: 500px;
  background-color: black;
  border-radius: 2em;
  background-color: rgba(53, 53, 151, 0.582);
}
