* {
    margin: 0;
    padding: 0;
}
.savedDivItem {
    width: 80%;
    background-color: yellow;
    border-radius: 2em;
    font-size: auto;
    margin: 5px;
    padding: 20px;
}

.savedDivItem button {
    margin-top: 10px;
    padding: 8px;
    border-radius: 2em;
    background-color: black;
    color: white;
    transition: ease-in 0.5s;
}
.savedDivItem button:hover {
    background-color: white;
    color: black;
    transition: ease-in 0.5s;
} 